@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Permanent+Marker&family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,700;1,800;1,900&family=Seymour+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
 }

 body {
    /* background-color: var(--background-color) */
    position: relative;
    font-family: 'Poppins', serif;
    font-weight: 400;
    
}
 
    body::after {
    content: "";
    background: url(images/djBackGround.jpg)fixed ;
    background-position: center;
    max-width: 100vw;
    height: auto;
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  } 



:root {
    --main-color : black;
    --secondary-color : rgb(255, 255, 255);
    --hover-color : black;
    --nav-background-color-hover : rgba(201, 201, 201, 0.697);
    --shadow-settings-color-1 : 9px 5px 15px 0px rgba(0,0,0);
    --shadow-settings-color-2: 10px 10px 20px 0px rgb(0, 0, 0);
    --shadow-settings-color-article : 9px 5px 15px 0px rgba(0,0,0,0.75);
    --background-color : #cfcfcf;
    --police-color : #2a272a;
    --border-hover : white ;
    --hover-background--general : #f4f4f4a9;
    --hoover-sample : #282828;
    
}
            /*---------------------- HEADER ----------------------*/

header {
    height: 30vh;
    background: url(images/basscover.jpg) center/cover ;
    text-transform: uppercase;
    box-shadow: 9px 5px 15px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow:var(--shadow-settings-color-1) ;
    -moz-box-shadow:var(--shadow-settings-color-1);
    
}

.home-header {
    width: 100%;
    height: 100%;
    
}

.title {
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: center;
    align-items: flex-end;
    color: var(--secondary-color);
    animation: slide-in 1s;
    
    
    }

.title-effect {
    text-shadow: 3px 4px 3px #5c5b5b;
    border-radius: 50%;
    padding: 20px;
    
}

.title-effect:hover {
    /* transform: scale(2); */
	animation: pulse 1s infinite;
}

nav {
    width: 100%;
    height: 50%;
}

.navlink-container {
    width: 100%;
    height: 100%;
}

.menu {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: flex-end;
    padding-bottom: 30px;
}

 a {
    color: var(--secondary-color);
    font-weight: 500;
}

li {   
    
    padding: 0px 15px;
    border-radius: 5%; 
   transition: transform .5s;
}  


 li:hover {
    color:var(--hover-color) ;
    background-color:var(--nav-background-color-hover);  
    transform: scale(1.3);
 }


            /*---------------------- ARTICLES----------------------*/

.main {
    margin: 0 20vw;    
}


.article-container {
    width: 100%;
    
}

.intro {
    margin: 100px 0;
    padding: 20px;
    transition: transform .5s, background-color .5s, box-shadow .5s ;
    border-radius: 10px;
}

.intro:hover{
    background-color:var(--hover-background--general); 
    box-shadow: var(--shadow-settings-color-article);
}

.article-column {
    text-align: center;
    margin: 50px 0;
}

.article-full {
    padding: 20px;
    transition: transform .5s, background-color .5s, box-shadow .5s;
    border-radius: 10px;
}

.article-full:hover{
    background-color:var(--hover-background--general); 
    box-shadow: var(--shadow-settings-color-article);
}

.article-title { 
    margin: 30px 0;
    text-transform: uppercase;
}

.article-content {
    margin-bottom: 40px ;
}

.article-dubstep-full {
    padding: 20px;
    transition: transform .5s, background-color .5s, box-shadow .5s;
    border-radius: 10px;
    
}

.article-dubstep-full:hover{
    background-color:var(--hover-background--general); 
    box-shadow: var(--shadow-settings-color-article);
    
}

.article-dnb-full {
    padding: 20px;
    transition: transform .5s, background-color .5s, box-shadow .5s;
    border-radius: 10px;
}

.article-dnb-full:hover {
    background-color:var(--hover-background--general);
    box-shadow: var(--shadow-settings-color-article);
}
            /* ---------------------- SAMPLE GENEREAL SETTINGS AREA ----------------------*/
iframe {
    border: 0;
}

.title-sample {
    padding: 5px;
}

.article-comment {
    font-style: italic;
}
            /* ---------------------- SAMPLES-DUBSTEP ----------------------*/

.sample-containers-dubstep > * { 
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    border-radius: 50px;
    text-align: center;
    padding-bottom: 20px;
    box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow:var(--shadow-settings-color-2) ;
    -moz-box-shadow: var(--shadow-settings-color-2);
    background-color: var(--secondary-color);
    
}

.sample-containers-dubstep {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-bottom: 40px;
    position: relative;
}

.sample-div1 { grid-area: 1 / 1 / 2 / 2; }
.sample-div2 { grid-area: 1 / 2 / 2 / 3; }
.sample-div3 { grid-area: 1 / 3 / 2 / 4; }
.sample-div4 { grid-area: 2 / 1 / 3 / 2; }
.sample-div5 { grid-area: 2 / 2 / 3 / 3; }
.sample-div6 { grid-area: 2 / 3 / 3 / 4; } 

.samplee  {
    transition: transform 0.5s, background-color 0.5s, color 0.3s;
    
    }
    /* .sample-containers-dnb > div:hover */
.samplee:hover {
    transform: scale(1.2);
    background-color: var(--hoover-sample);
    z-index: 1;
    color: var(--secondary-color);
    
    }

            /*---------------------- SAMPLE-DNB ----------------------*/


.sample-containers-dnb > * { 
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    border-radius: 50px;
    text-align: center;
    padding-bottom: 20px;
    box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
    background-color: var(--secondary-color);
}

.sample-containers-dnb {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-bottom: 40px;
    position: relative;
    
}

.sample-div7 { grid-area: 1 / 1 / 2 / 2; }
.sample-div8 { grid-area: 1 / 2 / 2 / 3; }
.sample-div9 { grid-area: 1 / 3 / 2 / 4; }
.sample-div10 { grid-area: 2 / 1 / 3 / 2; }
.sample-div11 { grid-area: 2 / 2 / 3 / 3; }
.sample-div12 { grid-area: 2 / 3 / 3 / 4; } 





    /* ANIMATION KEYFRAME */
@keyframes slide-in {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 0.8;
} }


@keyframes pulse {
    0% {
      transform: scale(.95);
      /* box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.425); */
    }
    70% {
      transform: scale(1);
      /* box-shadow: 0 0 0 10px rgba(255, 255, 255, 0); */
    }
      100% {
      transform: scale(0.95);
      /* box-shadow: 0 0 0 0 rgba(255, 255, 255, 0); */
    }
  }

  

  /*------------------ DESCRIPTION SUBGENRE ON HOVER DNB ---------------------*/
  .description {
    background-color: var(--hoover-sample);
    width: 100%;
    height: 100%;
    position: absolute;
    width: 30%;
    height: auto;
    left: -35%;
    transition: visibility 0.5s, opacity 0.5s linear;
    visibility: hidden;
    opacity: 0;
    border-radius: 10px;
} 

.description > h4 {
    margin-top: 10px;
}

.description > p {
    margin: 10px;
}

.sample-div1:hover ~ .post-dubstep {
    
    color: var(--secondary-color);
    visibility: visible;
    opacity: 1;
}

.sample-div2:hover ~ .breakstep {
    
    color: var(--secondary-color);
    visibility: visible;
    opacity: 1;
}

.sample-div3:hover ~ .brostep {
    
    color: var(--secondary-color);
    visibility: visible;
    opacity: 1;
}

.sample-div4:hover ~ .deathstep {
    
    color: var(--secondary-color);
    visibility: visible;
    opacity: 1;
}

.sample-div5:hover ~ .robostep {
    
    color: var(--secondary-color);
    visibility: visible;
    opacity: 1;
}

.sample-div6:hover ~ .riddim {
    
    color: var(--secondary-color);
    visibility: visible;
    opacity: 1;
}

  /* ----------------- DESCRIPTION SUBGENRE ON HOVER DNB --------------------- */
  .description2 {
    background-color: var(--hoover-sample);
    width: 100%;
    height: 100%;
    position: absolute;
    width: 30%;
    height: auto;
    left: -35%;
    transition: visibility 0.5s, opacity 0.5s linear;
    visibility: hidden;
    opacity: 0;
    border-radius: 10px;
} 

.description2 > h4 {
    margin-top: 10px;
}

.description2 > p {
    margin: 10px;
}



.sample-div7:hover ~ .jungle {
    visibility: visible;
    opacity: 1;
    color: var(--secondary-color);
}

.sample-div8:hover ~ .liquid {
    color: var(--secondary-color);
    visibility: visible;
    opacity: 1;
}

.sample-div9:hover ~ .neurofunk {
    color: var(--secondary-color);
    visibility: visible;
    opacity: 1;
}

.sample-div10:hover ~ .jumpup {
    color: var(--secondary-color);
    visibility: visible;
    opacity: 1;
        }
    
.sample-div11:hover ~ .rollers {
    color: var(--secondary-color);
    visibility: visible;
    opacity: 1;
}
   
.sample-div12:hover ~ .darkstep {
    color: var(--secondary-color);
    visibility: visible;
    opacity: 1;
}
    
/* .dnb-position > h4, .dnb-position > p  */
/*-------------------------FOOTER-----------------------------------*/
footer {
    
    height: 3vh;
    text-transform: uppercase;
    box-shadow: 9px 5px 15px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow:var(--shadow-settings-color-1) ;
    -moz-box-shadow:var(--shadow-settings-color-1);
    background-color:var(--hoover-sample);
    opacity: 0.7;
}


.navlink-container-footer {
    width: 100%;
    height: 100%;
}

.menu-footer {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items:flex-start ;
    padding: 0;
    margin: 0;
}

.copyright {
    padding: 10px;
    
    left: 0;
    
}

      /*----------------------  RESPONSIVE ---------------------- */

@media screen and (max-width:768px) {

main {
    margin:0 10vw ;
    }

    .article-content {
    text-align: justify;
}

.sample-containers-dubstep {
    display: flex;
    flex-direction: column;
    }

.sample-containers-dnb {
    display: flex;
    flex-direction: column;
    }
    .samplee:hover ~ .description, .description2 {
        display: none;
    }

    .iframe-container iframe {
        width: 100%;
        height: auto;
    }

    /*----------------------- FOOTER RESPONSIVE------------------------*/
    
    footer {
        width: auto;
        height: 30vh;
    }
    .navlink-container-footer {
        width: 100%;
        height: 100%;

    }
    .menu-footer{
        display: flex;
        height: 100%;
        width: 100%;
        justify-content:space-around;
        text-align: center;
        flex-direction: column;
    }
    .menu-footer li {
        
        width: 100%;
        height: 100px;
        justify-content: space-evenly;
        align-items: center;
    }
    li.list-menu-f {
        justify-content: center;
       display: flex;
       flex-direction: column;

    }
    li:hover{
        background-color: initial;
    }


/*------------------------ RESPONSIVE ---------------*/

@media screen and (max-width:1200px) and (min-width:769px) {
    main {
        margin: 0 10vw;
    }
    
    .article-content {
        text-align: justify;
    }
    
    .sample-containers-dubstep {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        }
        
    .sample-div1 { grid-area: 1 / 1 / 2 / 2; }
    .sample-div2 { grid-area: 1 / 2 / 2 / 3; }
    .sample-div3 { grid-area: 2 / 1 / 3 / 2; }
    .sample-div4 { grid-area: 2 / 2 / 3 / 3; }
    .sample-div5 { grid-area: 3 / 1 / 4 / 2; }
    .sample-div6 { grid-area: 3 / 2 / 4 / 3; } 
    
    .sample-containers-dnb {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        }
    
        .sample-div7 { grid-area: 1 / 1 / 2 / 2; }
        .sample-div8 { grid-area: 1 / 2 / 2 / 3; }
        .sample-div9 { grid-area: 2 / 1 / 3 / 2; }
        .sample-div10 { grid-area: 2 / 2 / 3 / 3; }
        .sample-div11 { grid-area: 3 / 1 / 4 / 2; }
        .sample-div12 { grid-area: 3 / 2 / 4 / 3; } 
        
        .description1, .description2 {
            left: -37%;
        }
    }
     /* -------------------- EMBED VIDEO ----------------------*/
    
     @media screen and (max-width:900px) {
        
        
        .iframe-container iframe {
            width: 100%;
            height: auto;
        }
        .iframe-container .instagram-media {
            width: 100%;
            height: auto;
        }
     }}